In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/Titanic-Dataset.csv')

In [5]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Problem 2:
1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
 head of the result

In [ ]:
fare = df['Fare']
print(fare.head())

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

 Create a DataFrame called class
 age that contains only the Pclass and Age columns of the Titanic
 dataset, in that order. Print the head of the result

In [ ]:
class_age = df[['Pclass', 'Age']]
print(class_age.head())

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

Create a DataFrame called survived
 gender that contains the Survived and Sex columns of the
 Titanic dataset, in that order.Print the head of the result.

In [ ]:
survived_gender = df[['Survived','Sex']]
print(survived_gender.head())

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

 Problem- 2- Subsetting:

Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
 to fare_gt_100.View the printed result.

In [ ]:
fare_gt_100 = df[df['Fare']>100]
print(fare_gt_100.head())

     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C

 Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
 first_class. View the printed result.

In [ ]:
first_class = df[df['Pclass'] == 1]
print(first_class.tail())

     PassengerId  Survived  Pclass  \
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                 Name     Sex   Age  SibSp  \
871  Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                          Carlsson, Mr. Frans Olof    male  33.0      0
879     Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                      Graham, Miss. Margaret Edith  female  19.0      0
889                             Behr, Mr. Karl Howell    male  26.0      0

     Parch  Ticket     Fare        Cabin Embarked
871      1   11751  52.5542          D35        S
872      0     695   5.0000  B51 B53 B55        S
879      1   11767  83.1583          C50        C
887      0  112053  30.0000          B42        S
889      0  111369  30.0000         C148        C

 3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
 is female (Sex is "female"), assigning it to female_under_18.
 Subsetting Rows by Categorical variables:
 under
 18. View the printed result.

In [ ]:
female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == "female")]
print(female_under_18.head())

    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

 Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
 (Southampton), assigning the result to embarked
 c
 or
 s. View the printed result.

In [11]:
embarked_c_or_s = df[df['Embarked'].isin(['C','S'])]
embarked_c_or_s.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_per_Year
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000

 Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
 or second class), assigning the result to first
 second
 class.View the printed result.

In [12]:
first_class = df[df['Pclass'].isin([1,2])]
first_class.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_per_Year
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0.960417
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,2.147914
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,0.457759

 Warning: Handle missing valuesin the Agecolumn byfilling themwith themedian ageof
 the dataset before performing thedivision.)
 AnswerthefollowingquestionsfromDataset:
 Whichpassengerhadthehighestfarepaidrelativetotheirage?
 Toanswerthequestionperformfollowingoperations:
 1.AddacolumntotheTitanicdataset,fareperyear, containingthefare dividedby the ageof
 the passenger(i.e.,Fare/Age).

In [8]:
df['Fare_per_Year'] = df.apply(
    lambda row: row['Fare'] / row['Age'] if row['Age'] > 0 else None, axis = 1
)

print(df[['Fare', 'Age', 'Fare_per_Year']])

        Fare   Age  Fare_per_Year
0     7.2500  22.0       0.329545
1    71.2833  38.0       1.875876
2     7.9250  26.0       0.304808
3    53.1000  35.0       1.517143
4     8.0500  35.0       0.230000
..       ...   ...            ...
886  13.0000  27.0       0.481481
887  30.0000  19.0       1.578947
888  23.4500   NaN            NaN
889  30.0000  26.0       1.153846
890   7.7500  32.0       0.242188

[891 rows x 3 columns]

2.
Subset rows where fare per year is higher than 5, assigning this to high fare age.

---

In [10]:
high_fare_age = df[df['Fare_per_Year'] > 5]
high_fare_age.head()  #no need to write print

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_per_Year
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,10.537500
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,14.562500
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,13.842105
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,13.859733
50,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,NaN,S,5.669643

 3. Sort highfareage by descending fare_per_year,assigning this to high_fare_age_srt.

In [15]:
high_fare_age_srt = df.sort_values(by=['Fare_per_Year'], ascending = False)
high_fare_age_srt.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_per_Year
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,164.728261
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,75.775000
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,46.900000
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,39.687500
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,39.000000

 4. SelectonlytheNameandfareperyearcolumnsofhighfareagesrtandsavetheresultasresult.

In [17]:
result = high_fare_age_srt[['Name', 'Fare_per_Year']]
result.tail()

                                         Name  Fare_per_Year
859                          Razi, Mr. Raihed            NaN
863         Sage, Miss. Dorothy Edith "Dolly"            NaN
868               van Melkebeke, Mr. Philemon            NaN
878                        Laleff, Mr. Kristo            NaN
888  Johnston, Miss. Catherine Helen "Carrie"            NaN

Look at the result

In [18]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_per_Year
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0.481481
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1.578947
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1.153846
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0.242188

"Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their class? To answer the question perform following operations:

Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger class i.e. Fare / Pclass."

In [19]:
df['Fare_per_Class'] = df['Fare'] / df['Pclass']
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_per_Year,Fare_per_Class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,71.283300
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,2.641667
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0.481481,6.500000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1.578947,30.000000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN,7.816667
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1.153846,30.000000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0.242188,2.583333

Subset rowswherethepassenger ismale(Sexis”male”)and an adult(Age isgreaterthanorequal
 to18),assigning this to adult_males

In [21]:
adult_males = df[(df['Sex'] == 'male') & (df['Age'] >= 18)]
adult_males

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_per_Year,Fare_per_Class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0.960417,51.862500
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,0.402500,2.683333
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,0.801923,10.425000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,0.375000,5.250000
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0.282000,2.350000
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0.481481,6.500000
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1.153846,30.000000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0.242188,2.583333

Sort adult males by descending fare per class, assigning this to adult males srt.

In [26]:
adult_males_srt = df.sort_values(by=['Fare_per_Class'], ascending = False)
adult_males_srt.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_per_Year,Fare_per_Class
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C,14.637977,512.3292
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,14.231367,512.3292
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,14.637977,512.3292
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S,11.434783,263.0000
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,4.109375,263.0000

4. Select only the Name, Age, andfareperclasscolumnsof adultmalessrandsavetheresult
 asresult.

In [28]:
result = df[df['Fare_per_Class'].isin(adult_males_srt['Fare_per_Class'])][['Name', 'Age', 'Fare_per_Class']]
result = result.sort_values(by='Fare_per_Class', ascending=False)
result.head()

                                   Name   Age  Fare_per_Class
258                    Ward, Miss. Anna  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
737              Lesurer, Mr. Gustave J  35.0        512.3292
88           Fortune, Miss. Mabel Helen  23.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000

 5. Lookattheresult.

In [29]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_per_Year,Fare_per_Class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,71.283300
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,2.641667
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0.481481,6.500000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1.578947,30.000000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN,7.816667
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1.153846,30.000000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0.242188,2.583333

 What percent of the total fare revenue came from each passenger class?
 To answer the question perform following operation:
 1. Calculate the total Fare paid across all passengers in the Titanic dataset

In [30]:
total_fare = df['Fare'].sum()
total_fare

28693.9493

 2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.

In [31]:
fare_first_class = df[df['Pclass'] == 1]['Fare'].sum()
fare_first_class

18177.4125

 3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).

In [37]:
fare_second_class = df[df['Pclass'] == 2]['Fare'].sum()
fare_second_class

3801.8417

In [38]:
fare_third_class = df[df['Pclass'] == 3]['Fare'].sum()
fare_third_class

6714.6951

 4. Combine the fare totals from first, second, and third classes into a list.

In [39]:
fare_totals = [fare_first_class, fare_second_class, fare_third_class]
fare_totals

[6714.6951, 3801.8417, 6714.6951]

 5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

In [35]:
fare_proportion_firstclass = fare_first_class / total_fare
fare_proportion_firstclass

0.23401083726038366

In [40]:
fare_proportion_second_class = fare_second_class / total_fare
fare_proportion_second_class

0.1324962855496507

In [42]:
fare_proportion_third_class = fare_third_class / total_fare
fare_proportion_third_class

0.23401083726038366

 What percent of the total number of passengers on the Titanic belonged to each age group
 (e.g., child, adult, senior)?
 To answer the question perform following operation
  Create a new column, age
 group, that categorizes passengers into "child" (age < 18), "adult" (age
 18{64), and "senior" (age 65 and above)

In [43]:
def cat_age(age):
    if age < 18:
        return 'child'
    elif age < 65:
        return 'adult'
    else:
        return 'senior'

df['age_group'] = df['Age'].apply(cat_age)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_per_Year,Fare_per_Class,age_group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667,adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,71.283300,adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,2.641667,adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,53.100000,adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333,adult

 2. Calculate the total number of passengers on the Titanic.

In [44]:
total_passengers = df['PassengerId'].count()
total_passengers

891

 3. Count the number of passengers in each age group.

In [ ]:
df['age_group'].value_counts()

 4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
 in each age group

In [45]:
adult_proportion = df['age_group'].value_counts()['adult'] / total_passengers
print(adult_proportion*100)

66.21773288439955

In [47]:
senior_proportion = df['age_group'].value_counts()['senior']/total_passengers
print(senior_proportion*100)

21.099887766554435

In [48]:
child_proportion = df['age_group'].value_counts()['child']/total_passengers
print(child_proportion*100)

12.682379349046016

 5. Display the proportion as a percentage.

In [49]:
66.21773288439955+21.099887766554435+12.682379349046016

100.0